PORT=8080   
BOUNCE_SECRET=test
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=bounce
POSTGRES_PASSWORD=bounce
POSTGRES_DB=bounce
ALLOWED_ORIGIN=http://localhost:3000
IMAGE_DIR=/var/bounce/images
