$pallete-blue: #0CD3FE;
$pallete-green: #a7f2e8;
$pallete-light-grey: #adadad;
$pallete-dark-grey: #7F7F7F;

h1 {
    color: $pallete-blue;
}

h2 {
    color: $pallete-light-grey;
}

input.form-control {
    border-radius: 4em;
}

.btn {
    border-color: $pallete-dark-grey;
    border-radius: 4em;
}

.btn.btn-primary {
    background-color: $pallete-green;
}

.btn.btn-default {
    background-color: white;
    color: $pallete-blue;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

form {
    text-align: left;
    max-width: 30em;
    margin: auto;
}

form > input {
    width: 50%;
    min-width: 6em;
}

form > label {
    color: $pallete-light-grey;
}

form > h1 {
    text-align: center;
}

button {
    margin-right: 0.5em;
}
