.App {
  text-align: center;
}

.Form {
  width: 300px;
  margin: 0 auto;
}

.Form-Button {
  background-color: lightgray;
}

.Form-Buttom-Picture {
  display: block;
  margin-left: 20px;
}

.Form-Input {
  width: 100%;
  margin: 5px auto;
}

.Form-Input-About {
  height: 100px;
  resize: none;
}

.Social-Media-Type {
  vertical-align: top;
}

.Social-Media-Type {
  display: inline-block;
  margin: 0px 15px;
}

.Social-Media-Type > p{
  margin: 0 0 5px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
